.greenColor{
    color: #18cfab;
}
.home{
    background-image: url("../img/bg1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px 0;
    box-sizing: border-box;

}
.homeTop{
     width: 98vw;
    background-color: rgba(0,0,0, .5);
    height: 75px;
    position: fixed;
    z-index:1;
}
.container{
    width: 1160px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;

}
#hexagon {
    width: 36px;
    height: 20px;
    background: #18cfab;
    position: relative;
    top:22px;



}
#hexagon:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 10px solid #18cfab;

}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 10px solid #18cfab;

}
.hexagonLogo{
    display: flex;
}
.textH{
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-align:center;
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    flex-direction: row;
}
.homeNav{
    display: flex;
}
.ulList{
    display: flex;
    padding-top: 30px;
}
.ulList a{
    color:white;
    text-decoration:none;

}
.ulList li{
    justify-content: space-around;
    height: 35px;
    padding: 10px;
    padding-top: 0;

}
.ulList li:hover{
    border-bottom: 1px solid #18cfab;

}




.containerHome{
    text-align: center;

}
.containerHome .containerHomeh2{
    font-weight: bold;
    font-size: 26px;
    color: white;
    padding-top: 15px;
}
.containerHome .containerHomeh1{
    font-weight: bold;
    font-size: 55px;
    color: white;
    padding-top: 15px;

}
.containerHome .containerHomeP{
    font-size: 27px;
    color: #d4d4d4;
    padding-top: 15px;
}
.containerHomeBtn{
    padding: 15px 12px;
    background-color: #18cfab;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius:5px;
    margin-right: 25px;
    font-size: 15px;
    display: inline-block;
    margin-top: 70px;
    box-shadow: 0 -6px 3px 0px #fff;
}
.colorbtn1{
    background-color: #18cfab;
}
.colorbtn2{
background-color: #00cbf6;
}

/*Features */
.features{
    width: 100%;
    display: flex;


}

.features .features-div {
    color: white;
    width: 25%;
    text-align: center;
    padding: 65px 0;


}

.features .features-div:nth-child(odd) {
    background: #1c2a33;
    border-top:6px solid #18cfab;
}
.features .features-div:nth-child(even) {
    background: #18cfab;
    border-top:6px solid #fff;
}
.features .features-div img{
    margin-top: 40px;
}

.features-div img{
    width: 58px;
}
.featuresImg1, .featuresImg3 {
    width: 28px !important;
}



.features-div .featuresH3{
    padding-top: 25px;

}



.ourServices{
    width: 1000px;
    margin: 0 auto;
    height: 450px;
}
.services{
    margin-top: 40px;
}
.tabs {
    list-style: none;
    padding-left: 0;
}

.tabs{
    display: flex;
}

.tabs,.tabs-content{
    margin-top: 40px;
}
.tabs-content{
    display: flex !important;
}
.centered-content {
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tabs_title {
    padding: 20px;
    background-color: #f8fcfe;
    color: #9c9d9e;
    cursor: pointer;
    border:1px solid #eeeeef;
    width: 158px;
    text-align: center !important;
    position: relative;
}

.tabs-content img{
    display: none;
}
.tabs_title.active {
    background-color:#18cfab ;
    color: #fff;
}
.contentTab{
    display: none;
    padding-left:20px !important;
    text-align: justify;

}

ul.tabs li {
    margin: 0;
    width: 20%;
    cursor: pointer;
    padding: 0px 21px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    color: #ccc;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}
ul.tabs li.active:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #18cfab;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
ul.tabs li.active {
    color: #fff;
    display: block;
}

ul.tabs li.active:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #18cfab;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
}






.serviceImg{
    display: none;
    height: 126px;
}
.serviceImg.active{
    display: block;
}
.contentTab.active{
    display: block;
}




/*Install*/
.install{
    position: relative;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),
    url("../img/bg-2.png") center;
    background-size: cover;
    padding: 170px 20px;
    color: white;
    z-index: 0;
    margin-top: 50px;
}

.installContainer{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.installH2{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.installP{
    color: #b6b5b5;
    padding-top: 15px;
}
.purchaseBtn{
   padding: 15px 15px;
    background-color: #18cfab;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 68%;
    left:43%;
    border: 1px solid transparent;
    border-radius:5px;
    box-shadow: 0 -7px 3px -2px #fff;

}






.ourGallery{
    width: 1000px;
    margin: 40px auto;
    position: relative;

}

#galleryTabs {
    list-style: none;
    padding-left: 0;
    display: flex;
}



.ourGallery-centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.gallery-title {
    padding: 15px;
    color: #9c9d9e;
    cursor: pointer;
    border:1px solid #ebebeb;

    text-align: center !important;
}

.gallery-title.active {
    border-top:5px solid #18cfab ;
   color: #18cfab;
}


.albom , .albom2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

}


.albom2{
    overflow:hidden;
    margin-top: 0;
}

.albom .albomimg {

    position: relative ;
    width: 24%;;
    display: flex;
    margin: 0 !important;
}
.albom2 .albomimg {
    position: relative ;
    width: 24%;;
    display: flex;
    margin: 0 !important;
}
.albom .albomimg img {
width:100%;
}
.albom2 .albomimg img {
    width:100% !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f8fcfe;
    border-top:2px solid #18cfab;
}

.albomimg:hover .overlay {
    opacity: 1;
}
.text , .text2{
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}
.text {
font-weight: bold;
    font-size: 11px;
    top: 50%;
    left: 50%;

}
.text2 {
color:#abadad;
    font-size: 10px;
    top: 67%;
    left: 50%;
}
.albomIcon1{
    top: 27%;
    left: 39%;
}
.albomIcon2{
    top: 27%;
    left: 61%;
}
.albomIcon{
    font-size: 14px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #18cfab;
    border-radius: 100%;
    padding: 14px;
    color:#18cfab;
}
.albomIcon1:hover , .albomIcon2:hover{
    background-color:#18cfab ;
    color:white;
    transition: all .5s ease;
}



.loadBtn{
    position: absolute;
    top: 0!important;
    padding: 15px 18px;
    background-color: #18cfab;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius:5px;
    margin-left: 43%;
    margin-top: 79%;
    font-size: 15px;
}
.plusIcon{
    padding-right: 8px;
}
.sectionTitle{
    padding-top: 40px;
    font-size: 38px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    color :#4e4e4e;
    box-sizing: border-box;
}
.sectionTitleUnderline1{
    width: 73px;
    border-top: 1px solid #18cfab;
}
.sectionTitleUnderline2{
    width: 73px;
    border-top: 1px solid #18cfab;
    margin-top: 3px;
    margin-left: 14px;
    margin-bottom: 50px;
}
footer{
    height: 75px;
    background-color: #22353f;
    margin-top:12%;

}
.footerContainer{
    width: 1160px;
    margin:0 auto;

}
.footerP{
    color:#999b9c;
    text-align: center;
    padding-top: 33px;

}
